*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-bg: #032221;
    --green: #00DF81;
    --green-light: #2CC295;
    --light-text: #f1f7f6ce;
    --glow-light: 0 0 10px #2CC295, 0 0 20px #2CC295, 0 0 40px #2CC295;
    --glow-mute: 3px 3px 10px #2CC295, 3px 3px 20px #2CC295;
    --glow-shadow: 0 0 10px #00DF81, 0 0 20px #00DF81, 0 0 40px #00DF81;
}

/* About section */
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 3rem auto;
}
.about_img{
    border: 1px solid aqua;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    animation: glow 8s infinite alternate;
}
.about_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: .6s ease-in-out;
    filter: grayscale(20%);
}
/* Animation for Image container */
@keyframes glow {
  0%, 20%{
    box-shadow: var(--glow-light);
  }
  21%, 40%{
    box-shadow: var(--glow-shadow);
  }
  41%, 60%{
    box-shadow: var(--glow-light);
  }
  61%, 80%{
    box-shadow: var(--glow-shadow);
  }
  81%, 100%{
    box-shadow: var(--glow-light);
  }
}
.about_img img:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
}
.about_content{
    width: 50%;
    color: var(--light-text);
}
.about_content h2{
    font-size: 4rem;
}
.about_content p{
    margin-top: 1.2rem;
    line-height: 2rem;

}
@media (max-width: 900px) {
    .about{
        flex-direction: column;
        text-align: center;
    }
    .about_content{
      width: 100%;
    }
    .about_img{
        margin-bottom: 2rem;
    }
}

/* Contact section */
.contact{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 3rem auto;
    gap: 3rem;
}
.content{
    color: var(--light-text);
    width: 60%;
    margin-top: 4rem;
}
.content h2{
    font-size: 3rem;
}
.content p{
    line-height: 2rem;
    margin-top: 1rem;
}
.icon {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    font-size: 1.5rem;
}
.icon i{
    font-size: 3rem;
    color: var(--green);
    margin-right: .6rem;
}
.form{
    width: 40%;
}
.form form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.form input, textarea{
    margin: 1rem auto;
    padding: 1.2rem;
    border-radius: .5rem;
    border: none;
    width: 100%;
    background-color: hsla(0, 0%, 30%);
    color: var(--light-text);
    width: 100%;
}
#type{
    color: var(--light-text);
    padding: .8rem 1.6rem;
}
@media (max-width: 900px) {
    .contact{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .content{
        width: 90%
    }
    .form{
        width: 90%;
    }
    .icon {
        justify-content: center;
    }
}

/* Projects section */

.projects h2{
    color: var(--light-text);
    text-align: center;
    font-weight: 100;
    margin: 2rem auto;
}
.projects select {
    background-color: hsl(0, 0%, 20%);
    color: var(--glow-light);
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 2rem;
}
.projects .wrapper {
    position: relative;
    /* margin: .5rem; */
    overflow: hidden;
    border-radius: .5rem;
}
.wrapper .images {
    width: 100%;
    display: block;
    /* border-radius: .2rem; */
}
.wrapper .content{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .8s ease;
}
.wrapper .content h3{
    margin-bottom: none;
    font-size: 2rem;
    text-shadow: var(--glow-light);
}
.wrapper .content p{
    margin: 0 .1rem;
    font-weight: 300;
    font-size: 1rem;
}
.wrapper .content:hover{
    opacity: 1;
}
.wrapper .content > *{
    transform: translateY(20px);
    transition: .5s ease-out;
}
.wrapper .content:hover > *{
    transform: translateY(0);
}