@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?sjdfrr');
  src:  url('./fonts/icomoon.eot?sjdfrr#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?sjdfrr') format('truetype'),
    url('./fonts/icomoon.woff?sjdfrr') format('woff'),
    url('./fonts/icomoon.svg?sjdfrr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-one-concept-logo-2:before {
  content: "\e909";
}
.icon-one-concept-logo .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-one-concept-logo .path2:before {
  content: "\e901";
  margin-left: -1.2890625em;
  color: rgb(0, 0, 0);
}
.icon-one-concept-logo .path3:before {
  content: "\e902";
  margin-left: -1.2890625em;
  color: rgb(0, 0, 0);
}
.icon-one-concept-logo .path4:before {
  content: "\e903";
  margin-left: -1.2890625em;
  color: rgb(0, 0, 0);
}
.icon-one-concept-logo .path5:before {
  content: "\e904";
  margin-left: -1.2890625em;
  color: rgb(0, 0, 0);
}
.icon-one-concept-logo .path6:before {
  content: "\e905";
  margin-left: -1.2890625em;
  color: rgb(0, 0, 0);
}
.icon-one-concept-logo .path7:before {
  content: "\e906";
  margin-left: -1.2890625em;
  color: rgb(0, 0, 0);
}
.icon-one-concept-logo .path8:before {
  content: "\e907";
  margin-left: -1.2890625em;
  color: rgb(0, 0, 0);
}
.icon-one-concept-logo .path9:before {
  content: "\e908";
  margin-left: -1.2890625em;
  color: rgb(0, 0, 0);
}
