*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
:root {
  --green: #00DF81;
  --green-light: #2CC295;
  /* --green: #03624C; */
  --dark-bg: #032221;
  --light-text: #f1f7f6ce;
  --light-menu: #f1f7f6a4;
  --glow-light: 0 0 10px #2CC295, 0 0 20px #2CC295, 0 0 40px #2CC295;
  --glow-mute: 3px 3px 10px #2CC295, 3px 3px 20px #2CC295;
  --glow-pink: 0 0 10px #df008a, 0 0 20px #df008a, 0 0 40px #df008a;
  --glow-shadow: 0 0 10px #00DF81, 0 0 20px #00DF81, 0 0 40px #00DF81;
}
@font-face {
  font-family: "poppins";
  src: url('./poppins/Poppins-Regular.ttf');
}
body {
  /* line-height: 1.5; */
  font-weight: 400;
  background-color: var(--dark-bg);
}
header nav{
  padding: .6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  /* border: 1px solid var(--light-text); */
  margin-bottom: 0;
  padding: 20px;
  position: relative;
}
.menu {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  gap: .2rem;
  min-width: 3rem;
  height: 2rem;
  top: 1.8rem;
  right: 2.8rem;
  padding: 5px;
  border-radius: .5rem;
  cursor: pointer;
}

.menu div {
  background-color: var(--light-menu);
  width: 100%;
  height: .4rem;
  border-radius: .4rem;
}
.menu:hover {
  background-color: var(--light-text);
  box-shadow: var(--glow-light);
  color: var(--green-light);
  border: 3px solid var(--light-menu);
}
nav span {
  display: flex;
  width: 40%;
  justify-content: space-between;
  transition: .6s ease;
}
nav span a{
  /* margin-right: 2.5rem; */
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--light-text);
  font-weight: bold;
  transition: .6s ease-out;
}
nav span a:hover, a.active{
  text-shadow: var(--glow-shadow);
}
.logo {
  margin-left: 2rem;
  color: var(--green);
  text-decoration: none;
}
.logo i{
  text-shadow: var(--glow-shadow);
  font-size: 3rem;
  background-color: transparent;
}
.home {
  display: flex;
  max-width: 90%; 
  margin: 2rem auto;
  margin-bottom: 5rem;
}
.content {
  color: var(--light-text);
  width: 60%;
  margin-top: auto;
}
.content h3 {
  /* margin-top: 2rem; */
  margin-bottom: 0;
}
span {
  color: var(--green-light);
}
.content h2{
  font-size: 2.5rem;
}
.content p {
  font-size: 1rem;
  font-weight: lighter;
}
.content-img{
  margin-top: 3rem;
  width: 20rem;
  height: 20rem;
  margin-left: auto;
  /* border: 2px solid aqua; */
  border-radius: 50%;
  overflow: hidden;
  animation: glow 8s infinite alternate;
} 
.content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: .6s ease;
  filter: grayscale(20%);
}
.content-img img:hover{
  transform: scale(1.1);
  filter: grayscale(0%);
}
.icons{
  margin: 2rem 0;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--green-light);
  background-color: transparent;
  font-size: 2.3rem;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--green-light);
  border-radius: 50%;
  transition: .4s ease-out;
}
.icons i:hover{
  color: var(--light-text);
  background-color: var(--green);
  box-shadow: var(--glow-shadow);
}
/* Animation for Image container */
@keyframes glow {
  0%, 20%{
    box-shadow: var(--glow-light);
  }
  21%, 40%{
    box-shadow: var(--glow-shadow);
  }
  41%, 60%{
    box-shadow: var(--glow-light);
  }
  61%, 80%{
    box-shadow: var(--glow-shadow);
  }
  81%, 100%{
    box-shadow: var(--glow-light);
  }
}
button {
  border: 2px solid var(--green);
  color: var(--light-text);
  background-color: transparent;
  border-radius: 2rem;
  padding: .6rem 1.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: .4s ease-in;
}
button:hover {
  background-color: var(--green-light);
  box-shadow: var(--glow-shadow);
}
button:active {
  box-shadow: inset var(--glow-light);
}
.cards {
  display: flex;
  width: 90%;
  margin: 3rem auto;
  gap: .8rem;
}
.card {
  background-color: var(--green-light);
  padding: 2rem 1.5rem;
  border-radius: .8rem;
  transition: .4s ease-in-out;
}
.card:hover{
  transform: translateY(-10px);
  box-shadow: var(--glow-shadow);
  border: 1px solid var(--light-text);
}
.card h2{
  margin-bottom: .2rem;
  font-size: 1.8rem;
  color: var(--dark-bg);
}
.card p {
  color: var(--light-text);
}
footer {
  color: var(--light-text);
  text-align: center;
}

/* media Queries */

@media (max-width: 900px ) {
  .home{
    flex-wrap: wrap-reverse;
  }
  .content-img{
    margin: 3rem auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .cards {
    flex-wrap: wrap;
  }
  .card {
    padding: 1.3rem 1rem;
  }
  header nav{
    flex-direction: column;
    align-items: self-start;
    /* gap: 2rem; */
  }
  nav span {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 50vw;
    top: 5rem;
    right: -36rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4.5rem;
    background-color: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 1rem 0 0 1rem;
    padding: 2rem 0;
    box-shadow: inset var(--glow-mute);
    transition: .8s ease-out;
    z-index: 10;
  }
  nav span.open {
    right: 0;
    /* display: flex; */
  }
  .menu {
    display: flex;
  }
}
